body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
  04009A
  77ACF1
  3EDBF0
  C0FEFC
*/

.main-container {
  height: 100vh;
  width: 100vw;
  background: #C0FEFC;
}

.button {
  background-color: #3EDBF0;
  border-radius: 25px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.input {
  border-radius: 25px;
  width: 25%;
  height: 25px;
  text-align: center;
}

.title {
  font-size: large;
  margin-top: 20px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.simple-flex-parent,
.flex-parent {
  display: flex;
}

.flex-parent {
  align-items: center;
  justify-content: center;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.login-container {
  border-radius: 25px;
  width: 50%;
  height: 30%;
  /* background-color: #77ACF1; */
}